body {
  background-color: white;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 25px;
}


h2 {
  color: #00BF32;
}

a {
  color: #04819E;
}
a:visited {
  color: #015367;
}
a:hover {
  color: #4867D6;
}

/* Header */
#header {
  background-color: #38B2CE;
  color: #206676;
}

#header a {
  color: white;
  font-size: 16px;
}
#header a:hover {
  color: #206676;
}

/* Footer */
#footer {
  background-color: #4867D6;
}

#footer a {
  color: #071D70;
}
#footer a:hover {
  color: white;
}

